

<html>
<head>
</head>
<body >
<h1>About Us</h1>
<P>Inventory Tracking System is a management system
for Computer Science and Engineering Department which will keep track of all the
Equipments(Computers, Printers, ACs, etc) listed by lab in-charge of different labs.The
system will be easily accessed by Administrators, Lab-Faculty and Students.Students can raised complain incase equipment stop working.</P>
<p>Lab-Faculties can add new equipment and then get approved by Administrator to view in the inventory.</p>
<center><%= image_tag ("logos/its.jpg") %></center>

<br></br>
<h2> Developed by:</h2>

<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;1) BALE ROHIT RAVINDAR</p>
<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;2) BHANU PRATAP VERMA</p>
<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;3) DEVESH RAO</p>
<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;4) DIROJIT KHERSA</p>
</body>
</html>
