


	<% if incharge_signed_in? %>
		<div class = "container">
			<h1>Welcome to </h1><br><br>
			<u><h1>INVENTORY TRACKING SYSTEM</h1></u><br><br>
		 	
		 </div>	

	<% else %>

		<center>
		<br><br><br><%= image_tag ("logos/nitc.png") %><br><br><br>
		<u><h1>INVENTORY TRACKING SYSTEM</h1></u>
		</center>

	<% end %>


